.header {
	text-align: center;
}
.dnd-zone {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	margin: 10px;
}

aside {
	border: 1px solid #ccc;

	&.source .list {
		list-style-type: none;
		text-align: center;
		li {
			padding: 10px;
			border: 1px solid #ccc;
			margin: 10px;
		}
	}
}

.highlight {
	border: 1px dashed purple;
	background: rgb(172, 178, 233);
}
.dragging {
	background: cyan;
	opacity: 0.2;
}